.root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Hina Mincho", serif;
}
.cell {
	height: calc(100% - 5px);
	margin: 2.5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
.grid {
	position: relative;
}
.grid-cell {
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
html {
	background-color: #f8e0c6;
}
.x-post, button {
	text-decoration: none;
	padding: 5px 10px;
	font-size: 16px;
	font-family: "Hina Mincho", serif;
	cursor: pointer;
	background-color: #f0a500;
	color: white;
	border: none;
	border-radius: 5px;
}
.link {
	color: #819094;
}
.x-post {
	background-color: #000;
}
dialog {
	width: 300px;
	max-width: calc(100vw - 20px);
	text-align: center;
	background-color: #d6aa7a;
	border-radius: 10px;
}
.long {
	top: 10vh;
	overflow-y: scroll;
	max-height: 80vh;
}
select {
	font-family: "Hina Mincho", serif;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fbf3e9;
	width: 120px;
	margin-bottom: 10px;
}
